<div id="product-banner" style="width: 100%; height: 100%;">
    {% render 'image-url', img: article.image, size: 1600, orientation: section.settings.img_orientation, class: section.settings.img_border %}
</div>
