{% layout 'page' %}

<div class="custom-page">
  <!-- Hero Section -->
  {% section 'hero-carousel' %}

  <!-- Image Banner Section -->
  {% section 'product-banner' %}

  <!-- Video Banner Section -->
  {% section 'video-banner' %}

  <!-- Contact Form Section -->
  {% section 'contact-form' %}

  <!-- Additional Content Section -->
  {% section 'richtext' %}
</div>